# ── Kaggle ─────────────────────────────────────────────────────────────────
KAGGLE_USERNAME=
KAGGLE_KEY=
 
# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_URL=

#Grok
GROQ_API_KEY=
 
# Spark
SPARK_DRIVER_MEMORY=

DISABLE_ESLINT_PLUGIN=